{% import "MediaServer/nav.html" as macros %}
{% extends "Home/base.html" %}
{% block title %}MediaServer - Movies{% endblock title %}
{% block script %}
<script type="text/javascript" src="/mediaserver/js/base.js"></script>
<script type="text/javascript" src="/MediaServer/js/collection.js"></script>
{% endblock script %}
{% block content %}

{{ macros::nav(current="collection") }}

<div class="container-fluid" ng-app="unicom_server" ng-controller="collectionTable">
	<div class="row input-group mb-3 sticky-top mx-auto" style="padding-top: 15px; z-index: 1;">
		<div class="input-group-prepend">
			<select class="custom-select" ng-model="searchCreator">
				<option selected value="">All</option>
				{% raw %}
				<option ng-repeat="creator in creators" value="{{creator}}">{{creator}}</option>
				{% endraw %}
			</select>
		</div>
		<input class="form-control" id="inputGroup-sizing-default" placeholder="Search collection ..." type="text" ng-model="searchText">
		<div class="input-group-append">
			<button class="btn btn-outline-secondary" type="button" ng-click="createCollection()">Create</button>
			<select class="custom-select" ng-model="orderValue">
				<option selected value="name">Name</option>
				<option selected value="-creation_date">Created</option>
			</select>
			<button class="btn btn-outline-secondary" type="button" ng-click="reversSelection()">Revers</button>
		</div>
	</div>
	<div class="row overflow-y-auto">
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="row in collection | filter: movieFilter | orderBy: orderValue | limitTo:pageSize">
			{% raw %}
			<div class="card" >
				<a href="/MediaServer/collection/{{row.id}}">
					<img class="card-img-top" src="/MediaServer/rsc/original{{row.poster_path}}" alt="Card image cap">
				</a>
			</div>
			{% endraw %}
		</div>
	</div>

</div>
{% endblock content %}