{% import "MediaServer/nav.html" as macros %}
{% extends "Home/base.html" %}
{% block title %}MediaServer - Tv{% endblock title %}
{% block script %}
<script type="text/javascript" src="/MediaServer/js/base.js"></script>
<script type="text/javascript" src="/MediaServer/js/tv.js"></script>
{% endblock script %}
{% block content %}
{{ macros::nav(current="tv") }}
<div class="container-fluid">
    <div class="bg row" ng-app="unicom_server" ng-controller="tvController" style="
                background-image: url('/MediaServer/rsc/original{{episode.tv.backdrop_path}}');
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              ">
        <div class="container-fluid" style="
            background-color: rgba(0, 0, 0, 0.6);
            padding: 10px;">
            <div class="row">
                <div class="col-2">
                    <img class="img-fluid rounded" src="/MediaServer/rsc/original{{episode.season.poster_path}}" onerror="this.src='/rsc/poster_empty.jpg'" alt="Card image cap">
                </div>
                <div class="col-10 text-white" >
                    <div class="row">
                        <div class="col-10">
                            <h1 class="d-inline font-weight-bold ">{{episode.tv.title}} S{{episode.season_number | multidigit}}E{{episode.episode_number | multidigit}} : {{episode.title}} </h1>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <h4 class="col-auto font-weight-bold">
                            {{episode.release_date}}
                        </h4>
                    </div>
                    <br>
                    {% if episode.overview|length == 0 %}
                    <div class="row"> <p class="font-italic col-12">{{episode.tv.overview}}</p> </div>
                    {% else %}
                    <div class="row"> <p class="font-italic col-12">{{episode.overview}}</p> </div>
                    {% endif %}

                </div>
            </div>
            <div class="row">
                <table class="table text-white">
                    {% for video in episode.video %}
                    <tr>
                        <td>
                            <a href="#"><img src="/rsc/play.png" alt="" width="32" height="32"></a>
                            <a href="#"><img src="/rsc/download.png" alt="" width="32" height="32"></a>
                        </td>
                        <td><a href="/MediaServer/video/{{video.id}}"><h5>{{video.path}}</h5></a></td>
                        <td>{video.size | bytes}}</td>
                        <td>{{video.duration | duration}}</td>
                        <td>
                            Audios:
                            {% for audio in video.audios %}
                            {{audio}},
                            {% endfor %}
                        </td>
                        <td>
                            Subtitles:
                            {% for subtitle in video.subtitles %}
                            {{subtitle}},
                            {% endfor %}
                        </td>
                        <td>
                            <a class="float-right" href="" ng-click="delete_video({{video.id}})"><img src="/rsc/trash-bin.png" alt="" width="32" height="32"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock content %}