

{% macro nav(current) %}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        {% if current == "index" %}
        <a class="nav-link active" href="/MediaServer">Home</a>
        {% else %}
        <a class="nav-link" href="/MediaServer">Home</a>
        {% endif %}

      </li>
      <li class="nav-item">
        {% if current == "video" %}
        <a class="nav-link active" href="/MediaServer/video">Video</a>
        {% else %}
        <a class="nav-link" href="/MediaServer/video">Video</a>
        {% endif %}

      </li>
      <li class="nav-item">
        {% if current == "movie" %}
        <a class="nav-link active" href="/MediaServer/movie">Movie</a>
        {% else %}
        <a class="nav-link" href="/MediaServer/movie">Movie</a>
        {% endif %}

      </li>
      <li class="nav-item">
        {% if current == "tv" %}
        <a class="nav-link active" href="/MediaServer/tv">Tv</a>
        {% else %}
        <a class="nav-link" href="/MediaServer/tv">Tv</a>
        {% endif %}

      </li>
      <li class="nav-item">
        {% if current == "person" %}
        <a class="nav-link active" href="/MediaServer/person">Personne</a>
        {% else %}
        <a class="nav-link" href="/MediaServer/person">Personne</a>
        {% endif %}

      </li>
      <li class="nav-item">
        {% if current == "collection" %}
        <a class="nav-link active" href="/MediaServer/collection">Collection</a>
        {% else %}
        <a class="nav-link" href="/MediaServer/collection">Collection</a>
        {% endif %}

      </li>
    </ul>
{% endmacro nav %}