{% import "mediaserver/nav.html" as macros %}
{% extends "base.html" %}
{% block title %}MediaServer - Person{% endblock title %}
{% block script %}
{% endblock script %}
{% block content %}
{{ macros::nav(current="person") }}
<div class="container-fluid">
    <div class="bg row">
        <div class="container-fluid" style="
            background-color: rgba(0, 0, 0, 0.6);
            padding: 10px;">
            <div class="row">
                <div class="col-2">
                    <img class="img-fluid rounded" src="/mediaserver/rsc/original{{profile_path}}" onerror="this.src='/rsc/poster_empty.jpg'" alt="Card image cap">
                </div>
                <div class="col-10 text-white" >
                    <div class="row">
                        <div class="col-10">
                            <h1 class="d-inline font-weight-bold ">{{name}} </h1>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <h4 class="col-auto font-weight-bold">
                            {{known_for_department}}
                        </h4>
                    </div>
                    <div class="row">
                        <h4 class="col-auto font-weight-bold">
                            Né à {{place_of_birth}} le {{birthday}} / {{deathday}}
                        </h4>
                    </div>
                    <br>
                    <div class="row"> <p class="font-italic col-12">{{biography}}</p> </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="row overflow-y-auto">
        {% for movie in cast_movie%}
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" >
			<div class="card" >
				<a href="/mediaserver/movie/{{movie.id}}">
                    <img class="card-img-top" src="/mediaserver/rsc/original{{movie.poster_path}}" onerror="this.src='/rsc/poster_empty.jpg'" alt="Card image cap">
				</a>
                <div class="card-body">
                    <h4 class="card-title font-italic">{{movie.title}}</h4>
                    <h4 class="card-title font-italic">casting</h4>
                </div>
			</div>
		</div>
        {% endfor %}
        {% for movie in crew_movie%}
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" >
			<div class="card" >
				<a href="/mediaserver/movie/{{movie.id}}">
                    <img class="card-img-top" src="/mediaserver/rsc/original{{movie.poster_path}}" onerror="this.src='/rsc/poster_empty.jpg'" alt="Card image cap">
				</a>
                <div class="card-body">
                    <h4 class="card-title font-italic">{{movie.title}}</h4>
                    <h4 class="card-title font-italic">crew</h4>
                </div>
			</div>
		</div>
        {% endfor %}
	</div>
    <div class="row overflow-y-auto">
        {% for tv in cast_tv%}
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" >
			<div class="card" >
				<a href="/mediaserver/tv/{{tv.id}}">
                    <img class="card-img-top" src="/mediaserver/rsc/original{{tv.poster_path}}" onerror="this.src='/rsc/poster_empty.jpg'" alt="Card image cap">
				</a>
                <div class="card-body">
                    <h4 class="card-title font-italic">{{tv.title}}</h4>
                    <h4 class="card-title font-italic">casting</h4>
                </div>
			</div>
		</div>
        {% endfor %}
        {% for tv in crew_tv%}
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" >
			<div class="card" >
				<a href="/mediaserver/movie/{{tv.id}}">
                    <img class="card-img-top" src="/mediaserver/rsc/original{{tv.poster_path}}" onerror="this.src='/rsc/poster_empty.jpg'" alt="Card image cap">
				</a>
                <div class="card-body">
                    <h4 class="card-title font-italic">{{tv.title}}</h4>
                    <h4 class="card-title font-italic">crew</h4>
                </div>
			</div>
		</div>
        {% endfor %}
	</div>
</div>
{% endblock content %}