{% import "MediaServer/nav.html" as macros %}
{% extends "Home/base.html" %}
{% block title %}MediaServer - Videos{% endblock title %}
{% block script %}
<script type="text/javascript" src="/MediaServer/js/base.js"></script>
<script type="text/javascript" src="/MediaServer/js/videos.js"></script>
<style>
		.st-selected{
          background: #216eff !important;
          color: white !important;
        }
        td {
        	max-width: 300px;
            word-wrap: break-word;
        }
 </style>
{% endblock script %}
{% block content %}

{{ macros::nav(current="video") }}

{% raw %}
<div class="container-fluid" ng-controller="fileTable">
	<table id="holder" st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
		<thead>
		<tr class="sticky-top" style=" z-index: 1;">
			<th colspan="8">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<select class="custom-select" st-search="media_type">
							<option selected value="">All</option>
							<option value="0">Movie</option>
							<option value="1">Tv</option>
						</select>
				  	</div>
				  	<input st-search="" ng-model="searchText" class="form-control" id="inputGroup-sizing-default" placeholder="global search videos ..." type="text">
				  	<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" ng-click="selectAll()">Select All</button>
						<button class="btn btn-outline-secondary" type="button" ng-click="deSelectAll()">Deselect All</button>
						<button class="btn btn-outline-secondary" type="button" ng-click="editVideos()">Edit</button>
				  		<button class="btn btn-outline-danger" type="button" ng-click="deleteVideos()">Delete</button>
					</div>
					<div class="input-group-append" st-pagination="" st-items-by-page="itemsByPage" st-template="/MediaServer/custom_pagination"></div>
				</div>
			</th>
		</tr>
		<tr>
			<th st-sort="id">#</th>
			<th st-sort="path">path</th>
			<th st-sort="adding">adding</th>
			<th st-sort="size">size</th>
			<th st-sort="codec">codec</th>
			<th st-sort="audios">audio</th>
			<th st-sort="subtitles">subtitle</th>
			<th st-sort="info">info</th>
		</tr>
		</thead>
		<tbody>
		<tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in displayedCollection">
			<td >{{row.id}}</td>
			<td><a href="/MediaServer/video/{{row.id}}">{{convertPath(row.path)}}</a></td>
			<td>{{row.adding}}</td>
			<td><bytes size="row.size"></bytes></td>
			<td>{{row.codec}}</td>
			<td>{{row.audios}}</td>
			<td>{{row.subtitles}}</td>
			<td><a href="/MediaServer/{{convertInfoPath(row.info)}}">{{convertInfo(row.info)}}</a></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="8">

				</th>
			</tr>
		</tfoot>
	</table>
</div>
{% endraw %}
{% endblock content %}