{% import "mediaserver/nav.html" as macros %}
{% extends "base.html" %}
{% block title %}MediaServer - video{% endblock title %}
{% block content %}

{{ macros::nav(current="video") }}

<div class="container-fluid">
    <h2>Video - {{id}}</h2>
    <div>
        path: {{path}} <br>
        duration: {{duration | duration }} min <br>
        size: {{ size | bytes }}<br>
        bit rate: {{ bit_rate | bytes }}/s<br>
        adding: {{adding}} <br>
        codec: {{codec}} <br>
        resolution {{ width }} - {{ height }} <br>
        {% if info.Movie %}
            movie : {{info.Movie.title}} {{info.Movie.release_date}}
        {% elif info.Tv %}
            tv : {{info.Tv.title}} - S{{info.Tv.season_number|multidigit}}E{{info.Tv.episode_number|multidigit}}
        {% else %}
            media unknown
        {% endif %}
    </div>
</div>


{% endblock content %}